
.btn-group .btn {
    border-radius: 0;
    border: 1px solid #dee2e6;
    border-right: none;
}

.btn-group .btn:last-child {
    border-right: 1px solid #dee2e6;
}

.btn-group .btn.active {
    border-bottom: 2px solid #0e91e2;
    font-weight: bold;
}

.input-group .custom-select,
.input-group .input-group-text {
    border-radius: 0;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: #007bff;
}

.custom-control-input:checked~.custom-control-label::after {
    background-color: #fff;
}

.form-control,
.custom-select {
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    background-color: #fff;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    border-color: #007bff;
    background-color: #007bff;
}
.form-control{
    max-width: 300px;
}
/* Rent.css */
.price-range-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.price-range-label {
    margin-left: 10px;
    font-weight: bold;
    color: #333;
}

.custom-range {
    width: 100%;
    margin-right: 10px;
}

.range-input {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity .15s ease-in-out;
}

.range-input:hover {
    opacity: 1;
}

.range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
}

.range-input::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
}
