.property-search {
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius:black 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .property-search .flex {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  
  .property-search .btn {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: #000102;
  }
  
  .property-search .btn.active
  {
    background-color: #f44848;
    color: #faf7f7;
    scale: 1.1;
  }
  .property-search .btn:hover{
    scale: 0.9;
  }
  