/* property.css */

.proDiv {
    background-color: rgb(232, 232, 235);
}

.property-list-heading {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 60px;
    margin-top: 60px;
    text-align: center;
    text-transform: uppercase;
    position: relative; 
}

.property-list-heading::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%; 
    width: 30%; 
    height: 3px; 
    background-color: orange; 
    transform: translateX(-50%); 
    transition: width 0.3s ease; 
}

.property-list-heading:hover::after {
    width: 90%; 
}

.card-custom {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden; 
}

.card-custom:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-custom .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px; 
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card-custom:hover .card-img-top {
    transform: scale(1.1); 
}

.card-custom .premium-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background-color: hsl(0, 100%, 51%); 
    color: #333; 
    font-weight: bold;
    border-radius: 5px;
    font-size: 12px;
}

.card-custom .card-body {
    padding: 1.25rem;
}

.card-custom .card-title {
    font-weight: bold;
    color: #333; 
}

.card-custom .card-text {
    color: #666; 
}

.card-custom .card-text small {
    color: #999;
}

.btn-enquiry {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
    background-color: #28a745; 
    transition: background-color 0.3s, transform 0.2s;
}

.btn-enquiry:hover {
    background-color: #218838; 
    transform: translateY(-2px);
}

.btn-enquiry:active {
    transform: translateY(0);
}

.btn-custom {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
    background-color: #007bff; 
    background-image: linear-gradient(to bottom, #007bff, #0056b3);
    transition: background-color 0.3s, transform 0.2s;
}

.btn-custom:hover {
    background-color: #01ffff;
    transform: translateY(-2px);
}

.btn-custom:active {
    transform: translateY(0);
}

.prev-button,
.next-button {
    margin: 0 10px;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
