#carouselExample{
margin-top: -20px;
margin-left:-20px;
}

.carousel-inner {
    position: relative;
  }
  
  .carousel-inner img {
    height: 400px; 
    width: 100%;
    object-fit: cover;
    opacity: 99%;
  }
  
  .title1 {
    position: absolute;
    top: 90px; 
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 2rem; 
  }
  .para1 {
    position: absolute;
    top: 140px; 
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-shadow: 2px 2px 4px rgb(255, 254, 254);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-size: 1rem;

  }
  .sp1{
    color: aqua;
  }