.Recent {
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    height: auto;
    margin-bottom: 30px;


}

.recent-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.recent-title h1 {
    align-items: center;
    font-size: 50px;

}

.recent-title hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: black;

}



.recent-item {
    display: grid;
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    
    gap: 30px;
}



