.Recent {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    gap: 10px;
    height: auto;
    margin-bottom: 30px;


}

.recent-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.recent-title h1 {
    align-items: center;
    font-size: 50px;

}

.recent-title hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: black;

}



.recent-item {
    display: grid;
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    
    gap: 30px;
}



.search-box {
    display: flex;
    background: rgb(255, 255, 255);
    justify-content: space-between;
    width: 30%;
    align-items: center;
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid rgb(120, 205, 226);

}

.search-box input {
    background: transparent;
    padding: 6px;
    border: 0;
    outline: 0;
    font-size: 16px;
    max-width: 200px;
}

.search-box img {
    width: 20px;
}