#carouselExampleCaptions{
margin-left: -20px;
}
  
  .carousel-inner img {
    height: 500px; /* Adjust height as needed */
    object-fit: cover;
  }
  
  .carousel-caption {
    bottom: 20px;
  }
  
  .carousel-caption h5 {
    font-size: 2rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  }
  
  .carousel-caption p {
    font-size: 1.2rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  }
  
  .carousel-caption {
    background: rgba(0, 0, 0, 0.259); /* Dark overlay */
    padding: 10px;
    border-radius: 10px;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: black; /* Adjust color as needed */
    border-radius: 50%;
    padding: 10px;
  }
  
  .carousel-control-prev-icon:hover,
  .carousel-control-next-icon:hover {
    background-color: gray; /* Hover effect */
  }
  .title1 {
    /* position: absolute;
    top: 90px; 
    left: 50%;
    transform: translateX(-50%); */
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 2rem; 
  }
  .para1 {

    color: white;
    text-shadow: 2px 2px 4px rgb(255, 254, 254);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-size: 1rem;

  }
  .sp1{
    color: aqua;
  }
  #buybutton{
    top: 250px; 
    left: 50%;
    transform: translateX(-50%);
  }